* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #00FC00;
  min-width: 320px;
}

a {
  color: white;
}

h1 {
  font-size: 24px;
  color: white;
  margin: 0.67em 0;
  font-weight: bold;
}

h2 {
  font-size: 1.125rem;
  color: white;
}

h3 {
  font-size: 1rem;
  font-weight: normal;
  color: white;
}

a-scene{
  padding-bottom: 100vh;
  height: 100vh;
  width: 100%;
  position: absolute;
  clear:both;
  border: 0;
  z-index: 0;
}

img{
  height: 100%;
  width:100%;
  border: 1px solid white;
}

p {
  margin-top: 4px;
  padding-bottom: 40px;
  color: white;
}


#topwrapper{
  position: fixed;
  width: 100%;
}

#bottomwrapper{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 100%;
  padding-top: 62vh;
  pointer-events: none;
}
#bottomcontent{
  background-color: rgba(0, 0, 0, 0.90);
  padding: 16px;
  pointer-events: all;

}

#logotype{
  margin: 0.5rem 0;
  letter-spacing: 2px;
}


#exp {
  height: auto;
  width: 100%;
  margin-bottom: 60px;
}

#allexp{
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
}

@media screen and (min-width: 360px){
  h1 {
    font-size: 30px;
  }

}

@media screen and (min-width: 768px){
  h1 {
    font-size: 32px;
  }

  #topinfo{
    margin-top: 20px;
    margin-left: 20px;
  }

  #bottominfo{
    margin-top: 20px;
    margin-left: 20px;
  }

  #exp {
    height: auto;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 80px;
    flex: 1 0 33%;
}
}

@media screen and (min-width: 1024px){
  #exp {
    height: auto;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 80px;
    flex: 1 0 25%;
}

}
